body {
    background-color: black;
    color: #00FF00; /* Hacker green text */
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set to 100% of the viewport height */
    overflow: hidden;
}

.terminal {
    background-color: black;
    border: 1px solid #00FF00; /* Green border */
    padding: 10px;
    max-width: 100%; /* Set to 100% of the viewport width */
    max-height: 100%; /* Set to 100% of the viewport height */
}

input {
    background-color: black;
    border: none;
    color: #00FF00; /* Hacker green text */
    width: 100%;
    outline: none;
    font-size: 16px; /* Increase font size for better visibility */
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
